
html {
    background-color: black;
}
footer {
    position: fixed;
    bottom: 0;
    left: center;
    right: center;
    width: 85%;
    background: linear-gradient(60deg, white 70%, lightgray);
    text-align: center;
    box-shadow: 0px 0px 10px black;
    padding-top: 5px;
}
body {
    height: 1000px;
    margin: auto;
    width: 85%;
    min-width: 460px; 
    background: linear-gradient(60deg, rgb(211,72,20), orange);
} 
.logo {
    display: inline-block;
}
.horizontal {
   
    padding-top: 55px;
    padding-left: 100px;
    letter-spacing: 1.5px;  
    display: flex;
    justify-content: space-evenly;
}
.horizontal a {
    background: linear-gradient(90deg, white 90%, rgb(241, 241, 241));
    margin-left: 1px;
    margin-right: 1px;
    border-left: 1px solid;
    transition: all 1s;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.horizontal a:hover {
    border-left: 5px solid;
}
.logo img {
    padding: 10px;
}